{% extends "base.html" %} {% block title %} Full Attendance Table {% endblock %} {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> full attendace spreadsheet </title>
</head>

<body>
    <table class="table" style="width: 100%">
        <tr class="table__header">
            {% for header in headings %}
            <th class="tabel__cell"> {{ header }} </th>
            {% endfor %} 
        </tr>

        {% for row in data %}
        <tr class="table__row">
            {% for cell in row %}
            <td class="table__cell"> 
                {{ cell }}
             </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>

{% endblock %}